#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf
*.properties        text eol=lf
*.gradle        text eol=lf
*.java        text eol=lf
*.mcmeta        text eol=lf
*.json        text eol=lf


# These are Windows script files and should use crlf
*.bat           text eol=crlf
